@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/*--------------------*/
body {
  font-family: "General Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  padding: 0 80px;
  width: 1440px;
}

.header {
  margin-top: 40px;
  border-radius: 10px;
  background: #E6F6FE;
}

.header__content {
  padding: 15px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  color: #011632;
  font-size: 16px;
  font-weight: 500;
  line-height: 155%;
  margin-right: 38px;
}

.header__items.active {
  color: #011632;
  font-size: 16px;
  font-weight: 600;
  line-height: 155%;
}

.header__items:last-child {
  margin-right: 0px;
}

.header__book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ava {
  margin-right: 20px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  background: #1376F8;
}

.button {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 155%;
}

.main__row {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.main__column {
  margin-top: 56px;
  position: absolute;
  top: 0;
  left: 0;
}

.main__title {
  color: #011632;
  font-size: 58px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1.24px;
  text-transform: capitalize;
  margin-bottom: 22px;
  width: 687px;
}

.main__text {
  width: 531px;
}

.text {
  color: #3C4959;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.27px;
  margin-bottom: 40px;
  text-align: left;
}

.main__book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__btn {
  margin-right: 22px;
}

.main__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__border {
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid #1376F8;
  background: #FFF;
  padding: 5px;
}

.main__icon {
  padding: 10px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E6F6FE), to(rgba(230, 246, 254, 0)));
  background: linear-gradient(180deg, #E6F6FE 0%, rgba(230, 246, 254, 0) 100%);
}

.main__calling {
  width: 24px;
  height: 24px;
  padding: 2px;
}

.main__text1 {
  color: #1376F8;
  font-style: normal;
  font-weight: 600;
  line-height: 155%;
  letter-spacing: 0.28px;
}

.main__num {
  color: #011632;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.28px;
}

.main__link {
  border-radius: 16.667px;
  background: #FFF;
  -webkit-box-shadow: 0px 8.333px 41.667px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8.333px 41.667px 0px rgba(0, 0, 0, 0.08);
  width: 374px;
  height: 117px;
  margin-top: 50px;
}

.main__wrapper {
  padding: 13px 16px;
  color: #011632;
  font-size: 12px;
  line-height: 155%;
  letter-spacing: 0.18px;
}

.main__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__photo {
  margin-right: 8px;
}

.main__tom {
  font-size: 14px;
  font-weight: 500;
}

.main__text2 {
  padding-top: 12px;
  padding-right: 23px;
}

.main__photo1 {
  margin-right: 40px;
}

.main__girl {
  width: 695.434px;
  height: 676.418px;
}

.offers__row {
  height: 400px;
  width: 1280px;
  border-radius: 10px;
  background: #E6F6FE;
  -webkit-box-shadow: 0px 20px 70px 0px rgba(230, 246, 254, 0.3);
          box-shadow: 0px 20px 70px 0px rgba(230, 246, 254, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386.6666666667px;
          flex: 0 1 386.6666666667px;
  background-color: #fff;
  border-radius: 10px;
  height: 300px;
}

.offers__case {
  padding: 18px 0px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.offers__column:last-child {
  margin-right: 0px;
}

.offers__icon {
  background-color: #25B4F8;
  border-radius: 50%;
}

.offers__icn {
  padding: 11px;
}

.offers__title {
  margin: 17px 0px;
  color: #011632;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

.offers__text {
  margin: 0 20px 0;
  color: #3C4959;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.27px;
}

.offers__more {
  margin-top: 15px;
}

.offers__learn {
  margin-right: 9px;
  color: #011632;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  text-decoration-line: underline;
}

.offers__arrow {
  padding-top: 2px;
}

.container {
  margin: 120px 70px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label {
  color: #011632;
  font-size: 42px;
  font-weight: 600;
  line-height: 125%;
  text-transform: capitalize;
  text-align: left;
}

.form__label {
  width: 507px;
}

.form__text {
  margin-top: 20px;
  width: 531px;
  margin-right: 100px;
}

.form__input::-webkit-input-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/call.png") 0px -2px/24px 24px no-repeat;
}

.form__input::-moz-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/call.png") 0px -2px/24px 24px no-repeat;
}

.form__input:-ms-input-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/call.png") 0px -2px/24px 24px no-repeat;
}

.form__input::-ms-input-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/call.png") 0px -2px/24px 24px no-repeat;
}

.form__input::placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/call.png") 0px -2px/24px 24px no-repeat;
}

.form__input {
  width: 341px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #CECECE;
  background: #FFF;
  font-size: 20px;
  padding: 0 0 5px 34px;
}

.form__submit {
  padding: 15px 30px;
  margin-left: -15px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 155%;
  text-transform: capitalize;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 0px 10px 10px 0px;
  background: #1376F8;
}

.form__background {
  position: relative;
  width: 413px;
  height: 362px;
  border-radius: 10px;
  background: linear-gradient(53deg, rgba(37, 180, 248, 0) 0%, rgba(37, 180, 248, 0.47) 64.42%, #25B4F8 126.21%);
}

.form__img {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -60px;
  right: 0;
  bottom: 0;
  min-width: 413px;
  min-height: 362px;
  background: url("../../img/boy.png") center/auto auto no-repeat;
}

.book__content {
  background: #E6F6FE;
}

.book__row {
  padding: 55px 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book__img {
  width: 414px;
  height: 444px;
  background: url("../../img/boy2.png") 0 0/cover;
}

.book__column2 {
  margin-left: 128px;
}

.book__text {
  margin-left: 100px;
  margin: 20px 0px;
}

.book__list {
  color: #3C4959;
  font-size: 18px;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.27px;
}

.book__li {
  position: relative;
  margin-left: 25px;
  margin-bottom: 15px;
}

.book__li:last-child {
  margin-bottom: 30px;
}

.book__li:before {
  position: absolute;
  left: -22px;
  top: 2px;
  content: url("../../img/icons/shieldDone.png");
  background-position: left;
  z-index: 1;
}

.smile__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smile__column:first-child {
  margin-right: 150px;
}

.smile__label {
  width: 570px;
}

.smile__text {
  width: 531px;
  margin-top: 20px;
  margin-right: 80px;
}

.smile__bg {
  width: 413px;
  height: 326px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(53deg, rgba(37, 180, 248, 0) 0%, rgba(37, 180, 248, 0.47) 64.42%, #25B4F8 126.21%);
}

.smile__img {
  position: absolute;
  top: 30px;
  left: -30px;
  border-radius: 10px;
}

.video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__label {
  width: 670px;
  text-align: center;
}

.video__text {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 463px;
  text-align: center;
}

.video__vid {
  border-radius: 10px;
}

.video__playlist {
  margin-top: 30px;
}

.doctors__content {
  background: #E6F6FE;
  margin-left: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.doctors__label {
  margin-top: 60px;
  width: 470px;
  text-align: center;
}

.doctors__text {
  width: 479px;
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

.doctors__review {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info {
  position: relative;
  border-radius: 10px;
  width: 21%;
  height: 343px;
  background-repeat: no-repeat;
}

.doctors__info {
  background-image: url("../../img/doctor.png");
}

.doctors__info:nth-child(2) {
  background-image: url("../../img/doctor2.png");
}

.doctors__info:nth-child(3) {
  background-image: url("../../img/doctor3.png");
}

.doctors__info:nth-child(4) {
  background-image: url("../../img/doctor4.png");
  margin-right: 0;
}

.doctors__box {
  border-radius: 10px;
  background: linear-gradient(96deg, rgba(37, 180, 248, 0.3) 0%, rgba(37, 180, 248, 0) 100%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  width: 273px;
  height: 90px;
  margin: 236px 17px 17px;
  padding: 12px 25px 20px 25px;
}

.name {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

.prof {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 155%;
}

.doctors__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ar {
  width: 96px;
  height: 44px;
  background: #FFF;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.doctors__next {
  margin-right: 0px;
}

.doctors__arrow {
  margin: 11px 28px;
}

.review__content {
  margin-top: 100px;
  margin-left: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__label1 {
  text-align: center;
}

.review__text1 {
  margin-top: 20px;
  width: 479px;
  text-align: center;
}

.review__articles {
  border-radius: 10px;
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.review__article {
  background: #FFF;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
  margin-right: 20px;
}

.review__article:last-child {
  margin-right: 0px;
}

.review__header {
  margin-left: 30px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__info {
  margin-left: 10px;
}

.review__name {
  color: #011632;
  font-size: 24px;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.48px;
}

.review__stars {
  width: 104px;
  height: 20px;
  background-image: url("../../img/icons/stars.png");
  top: 0;
  left: 0;
}

.review__text {
  margin: 19px 30px 27px;
  color: #3C4959;
  font-size: 16px;
  line-height: 155%;
}

.review__scroll {
  margin-top: 50px;
  margin-bottom: 100px;
}

.ar1 {
  width: 96px;
  height: 44px;
  margin-right: 10px;
}

.review__arrow {
  padding: 11px 28px;
  background: #011632;
}

.review__next {
  margin-right: 0px;
}

.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.news__label1 {
  width: 370px;
}

.news__text1 {
  margin-top: 20px;
  width: 455px;
  margin-bottom: 0px;
}

.news__articles {
  margin-top: 71px;
}

.news__row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 20px;
}

.news__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 305px;
          flex: 1 1 305px;
  border-radius: 10px;
  background: #E6F6FE;
}

.news__wrapper {
  margin: 20px auto 10px;
  width: 265px;
}

.news__img {
  margin-bottom: 22px;
}

.news__btn {
  padding: 5px 13px;
  border-radius: 5px;
  background: #011632;
}

.news__button {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 155%;
}

.news__label {
  color: #011632;
  font-size: 18px;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.27px;
  margin-top: 14px;
  margin-bottom: 10px;
}

.news__text {
  color: #3C4959;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.27px;
}

.news___author {
  text-align: right;
  color: #011632;
  font-size: 16px;
  line-height: 155%;
}

.news__more {
  text-align: center;
}

.faq {
  margin-top: 100px;
  margin-bottom: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq__wrapper {
  width: 630px;
}

.faq__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq__label {
  text-align: center;
}

.faq__text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 66px;
  font-size: 16px;
  width: 455px;
}

.website {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.website__content {
  width: 1064px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #011632;
  margin-bottom: 105px;
}

.website__row {
  padding: 50px 55px 50px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website__column {
  margin-right: 77px;
}

.website__label {
  text-align: left;
  color: #ffffff;
}

.website__text {
  width: 504px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
}

.website__img {
  width: 305px;
  height: 292px;
  background-image: url("../../img/img.png");
}

.footer {
  margin-bottom: 35px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px #011632 solid;
}

.footer__items {
  color: #3C4959;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  margin-right: 40px;
}

.footer__items:last-child {
  margin-right: 0px;
}

.footer__links {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icons {
  margin-right: 20px;
}

.footer__icons:last-child {
  margin-right: 0px;
}

.case {
  width: 1440px;
}

.header.service {
  margin-top: 0;
}

.main.services {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.58%, #E6F6FE), color-stop(98.6%, rgba(235, 248, 254, 0)));
  background: linear-gradient(180deg, #E6F6FE 0.58%, rgba(235, 248, 254, 0) 98.6%);
  padding: 0.1px 80px 0;
  width: 100%;
}

.header__content.services {
  border-radius: 10px;
  background: #FFF;
}

.main__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
}

.main__title.services {
  margin-top: 79px;
}

.main__vector {
  position: absolute;
  background-image: url("../../img/icons/vector.png");
  width: 257px;
  height: 7.5px;
  top: 140px;
  left: 510px;
  z-index: 1;
}

.main__text.services {
  text-align: center;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers__row.services {
  width: 100%;
  height: auto;
  gap: 50px 60px;
  background-color: initial;
}

.smile.dark {
  width: 1440px;
  background: #011632;
}

.smile__row.service {
  padding: 50px 100px 50px;
}

.smile__column.service {
  padding-top: 34px;
  margin-right: 0;
}

.smile__label.service {
  color: #fff;
  width: 571px;
  margin-right: 79px;
}

.smile__text.service {
  color: #fff;
  margin-right: 0;
}

.smile__learn.service {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.smile__form {
  border-radius: 10px;
  background-color: #fff;
  width: 414px;
}

.smile__case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smile__title {
  color: #011632;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  padding-top: 34px;
  padding-bottom: 39px;
}

.form__phone.service {
  margin-bottom: 20px;
}

.form__input.service::-webkit-input-placeholder {
  background-image: none;
  padding-left: 0;
}

.form__input.service::-moz-placeholder {
  background-image: none;
  padding-left: 0;
}

.form__input.service:-ms-input-placeholder {
  background-image: none;
  padding-left: 0;
}

.form__input.service::-ms-input-placeholder {
  background-image: none;
  padding-left: 0;
}

.form__input.service::placeholder {
  background-image: none;
  padding-left: 0;
}

.smile__submit {
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 50px;
}

.review__scroll.blogs {
  margin-bottom: 0;
}

.doctors__content.service {
  margin-left: 0;
}

.info.service {
  margin-right: 0;
  width: 21%;
  background-repeat: no-repeat;
}

.main__services.blogs {
  margin-bottom: 50px;
}

.main__vector.blogs {
  width: 162px;
  background-image: url("../../img/icons/group.svg");
  left: 560px;
  height: 5px;
}

.form__input.blogs::-webkit-input-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/search.svg") 0px 0/20px 20px no-repeat;
}

.form__input.blogs::-moz-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/search.svg") 0px 0/20px 20px no-repeat;
}

.form__input.blogs:-ms-input-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/search.svg") 0px 0/20px 20px no-repeat;
}

.form__input.blogs::-ms-input-placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/search.svg") 0px 0/20px 20px no-repeat;
}

.form__input.blogs::placeholder {
  padding-left: 30px;
  color: #CFCFCF;
  font-size: 16px;
  line-height: 155%;
  background: url("../../img/icons/search.svg") 0px 0/20px 20px no-repeat;
}

.news__header {
  margin-bottom: 57px;
}

.news__row.blogs {
  margin-bottom: 0px;
}

.news.blogs {
  margin-top: 100px;
}

.news__btn.blogs {
  padding: 7px 13px;
}

.news__articles.main.blogs {
  margin-top: 0px;
  width: 1280px;
}