/*Обнуление*/
*{padding:0;margin:0;border: 0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
// Отключение скролла у input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
/*--------------------*/

body{
	font-family: 'General Sans', sans-serif;
}
.wrapper {
	margin: 0 auto;
	max-width: 1440px;
}
.container{
	margin: 0 80px;
}
.main {
}
.header {
	margin-top: 40px;
	border-radius: 10px;
}
.header__content {
	border-radius: 10px;
	background: #E6F6FE;
	padding: 15px 41px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu{
	display: none;
}
.header__burger{
	outline: none;
	border: none;
	background:transparent;
}
.block{
	display: block;
}
.header__slide{
	background: #1376F8;
	position:absolute;
	right: 10px;
	border-radius: 10px;
	padding: 15px 0px 15px 30px;
	z-index: 2;
}
.disp {
	display: none;
}
.header__slide .header__items{
	color: #fff;
	font-size: 18px;
	padding-bottom:5px; 
}
.header__slide .header__items.active{
		color: #fff;
		font-size: 18px;
}
.header__logo {
}
.header__nav {
}
.header__items {
	color: #011632;
	font-size: 16px;
	font-weight: 500;
	line-height: 155%; 
	margin-right: 38px;
}
.header__items.active{
	color:#011632;
	font-size: 16px;
	font-weight: 600;
	line-height: 155%;
}
.header__items:last-child{
	margin-right: 0px;
}
.header__book {
	display: flex;
	align-items: center;
}
.header__ava {
	margin-right: 20px;
}
.header__btn {
}
.btn{
	display: inline-block;
	padding: 15px 30px;
	border-radius: 10px;
	background: #1376F8;
}
.button{
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 155%;
}
.header__button {
}
.main__content {

}
.main__row {
	margin-top: 60px;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.main__column {
	max-width: 687px;
	// margin-top: 56px;
	position: absolute;
	top: 1%;
	left: 1%;
}
.main__title {
	color: #011632;
	font-size: 58px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -1.24px;
	text-transform: capitalize;
	margin-bottom: 22px;
}
span.underline{
	position: relative;
}
.main__title span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorHome.svg') center center/ cover no-repeat;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0;
	height: 9px;
}
.main__text {
	padding-right: 157px;
}
.text{
	color: #3C4959;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
	margin-bottom: 40px;
	text-align: left;
}
.main__book {
	display: flex;
}
.main__btn {
	margin-right: 22px;
}
.btn{
}
.button{
}
.main__button{
}

.main__phone {
	display: flex;
	align-items: center;
}
.main__border {
	margin-right: 15px;
	border-radius: 10px;
	border: 1px solid #1376F8;
	background:  #FFF;
	padding: 5px;

}
.main__icon {
	padding: 10px;
	border-radius: 10px;
	background:linear-gradient(180deg, #E6F6FE 0%, rgba(230, 246, 254, 0.00) 100%);
}
.main__calling{
	width: 24px;
	height: 24px;
	padding: 2px;
}
.main__info {}
.main__text1 {
	color: #1376F8;
	font-style: normal;
	font-weight: 600;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.main__num {
	color: #011632;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.main__link {
	border-radius: 16.667px;
	background: #FFF;
	box-shadow: 0px 8.333px 41.667px 0px rgba(0, 0, 0, 0.08);
	// width: 374px;
	height: 117px;
	margin-top: 50px;
	margin-right: 300px;
}
.main__wrapper{
	padding: 13px 16px;
	color: #011632;
	font-size: 12px;
	line-height: 155%;
	letter-spacing: 0.18px;
}
.main__review {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main__personal {
	display: flex;
}
.main__photo {
	margin-right: 8px;
}
.main__name {
}
.main__tom {
	font-size: 14px;
	font-weight: 500;
}
.main__icon1 {}
.main__text2 {

	padding-top: 12px;
	padding-right: 23px;
}
.main__column2 {
	// width: 56%;
}
.main__photo1 {
	// background: url('../img/icons/mainGirl.svg') 60px -20px/contain no-repeat;
}
.main__girl{
	// width: 695.434px;
	// height: 676.418px;
}
.offers {

}
.offers__content {}
.offers__row {
	width: 100%;
	border-radius: 10px;
	background: #E6F6FE;
	box-shadow: 0px 20px 70px 0px rgba(230, 246, 254, 0.30);
	display: flex;
	justify-content: center;
	gap: 24px;
	padding: 50px 35px;
}

.offers__column {
	flex: 1 1 33.33333%;
	background-color: #fff;
	border-radius: 10px;
}
.offers__case{
	padding: 18px 0px 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.offers__column:last-child{
	margin-right: 0px;
}
.offers__icon {
	background-color: #25B4F8;
	border-radius: 50%;
}
.offers__icn {
	padding:	11px;
}
.offers__title {
	margin: 17px 0px;
	color: #011632;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
}
.offers__text {
	margin: 0 10px 0;
	color: #3C4959;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.offers__more {
	margin-top: 15px;
}
.offers__learn{
	margin-right: 9px;
	color: #011632;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	text-decoration-line: underline;
}
.offers__arrow{
	padding-top: 2px;
}
.form {
}
.container {
	// width: 100%;
	// padding: 120px 70px;
}
.form__row {
	padding: 0 70px;
	display: flex;
	margin-top: 120px;
	margin-bottom: 151px;
	justify-content: space-between;
}
.form__column {
	max-width: 531px;
	margin-right: 70px;
}
.label{
	color: #011632;
	font-size: 42px;
	font-weight: 600;
	line-height: 125%;
	text-transform: capitalize;
	text-align: left;
}
.form__label {
}

.form__label span{
}
.form__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector2Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 5px;
}
.form__text {
	margin-top: 20px;
}
.text {

}
.form__phone {
}

.form__input::placeholder{
	padding-left: 30px;
	color: #CFCFCF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/call.png') 0px -2px/24px 24px no-repeat;
}
.form__input{
	width: 67%;
	height: 55px;
	border-radius: 10px;
	border: 1px solid #CECECE;
	background:  #FFF;
	padding: 0 0 5px 34px;
}
.form__submit{
	padding: 15px 30px;
	margin-left: -15px;
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 155%;
	text-transform: capitalize;
	border-radius: 0px 10px 10px 0px;
	background: #1376F8;
}
.form__column2 {
	width: 413px;
	height: 362px;
	border-radius: 10px;
	background: linear-gradient(53deg, rgba(37, 180, 248, 0.00) 0%, rgba(37, 180, 248, 0.47) 64.42%, #25B4F8 126.21%);
	position: relative;
	flex-shrink: 0;
}
.form__background {
}
.form__img {
	position: absolute;
	z-index: 1;
	top: 30px;
	left: -31px;
	width: 100%;
	height: 100%;
	background: url('../img/boy.png') center/contain no-repeat;
}
.book {}
.book__content {
	background: #E6F6FE;
}
.book__row {
	padding: 55px 108px;
	display: flex;
	justify-content: space-between;
}
.book__column {
	flex-shrink: 0;
	order: 1;
	width: 414px;
	height: 444px;
}
.book__img{
	width: 100%;
	height: 100%;
	background: url('../img/boy2.png') center / contain no-repeat;
}
.book__column2 {
	order: 2;
	margin-left: 30px;
	max-width: 522px;
	
}
.book__label {}
.book__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector3Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 84%;
	left: 0;
	right: 0;
	height: 6px;
}
.text{
}
.book__text {
	// margin-left: 100px;
	margin: 20px 0px;
}
.book__list {
color: #3C4959;
font-size: 18px;
font-weight: 500;
line-height: 155%;
letter-spacing: 0.27px;
}
.book__li{ 
	position: relative;
	margin-left: 25px;
	margin-bottom: 15px;
}
.book__li:last-child{
	margin-bottom: 30px;
}
.book__li:before{
	position: absolute;
	left: -22px;
	top: 2px;
	content: url('../img/icons/shieldDone.png');
	background-position: left;
	z-index: 1;
}
.btn{
}
.book__btn{
}
.button{
}
.book__button{
}
.smile {}
.container {}
.smile__content {
	margin: 120px 70px;

}
.smile__row {
	display: flex;
	justify-content: space-between;
}
.smile__column{
	max-width: 555px;
}
.smile__column:first-child {
	margin-right: 50px;
}
.smile__label {
}
.smile__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector4Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 7.3px;
}
.label {}
.smile__text {
	margin-top: 20px;
	margin-right: 20px;
}
.text {}
.smile__btn {}
.btn {}
.smile__button {}
.button {}
.smile__column2 {
	flex-shrink: 0;
	width: 413px;
}
.smile__bg {
	width: 100%;
	height: 100%;
	max-height: 326px;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(53deg, rgba(37, 180, 248, 0.00) 0%, rgba(37, 180, 248, 0.47) 64.42%, #25B4F8 126.21%);
}
.smile__image {}
.smile__img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 30px;
	left: -30px;
	border-radius: 10px;
}
.video {}
.container {}
.video__content {	
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.video__label {
	width: 60%;
	text-align: center;
}
.video__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector2Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 5px;
}
.label {}
.video__text {
	margin-top: 20px;
	display: flex;
	width: 40%;
	text-align: center;

}
.text {}
.video__video {}
.video__vid{
	width: 100%;
	border-radius: 10px;
}
.video__playlist {
	margin-top: 30px;
}
.video__btn {}
.btn {}
.video__button {}
.button {}
.doctors {}
.doctors__content {
	background: #E6F6FE;
	margin-left: -80px;
	margin-right: -80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.doctors__label {
	margin-top: 60px;
	text-align: center;
}
.doctors__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector5Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 6.8px;
}
.label {}
.doctors__text {
	width: 35%;
	margin-top: 20px;
	margin-bottom: 80px;
	text-align: center;
}
.text {}
.doctors__review {
	margin-left: 80px;	
	gap: 20px;
}
.doctors__info.info {
	border-radius: 10px;
	flex: 1 0 calc(100% / 4.8);

}
.doctors__info:nth-child(4n+1) {
	background: url('../img/doctor.png') center/cover no-repeat;
}
.doctors__info:nth-child(4n+2) {
	background: url('../img/doctor2.png') center/cover no-repeat;
}
.doctors__info:nth-child(4n+3) {
	background: url('../img/doctor3.png') center/cover no-repeat;
}
.doctors__info:nth-child(4n+4) {
	background: url('../img/doctor4.png') center/cover no-repeat;
}

.doctors__box {
	border-radius: 10px;
	background: linear-gradient(96deg, rgba(37, 180, 248, 0.30) 0%, rgba(37, 180, 248, 0.00) 100%);
	backdrop-filter: blur(100px);
	width: 89%;
	height: 90px;
	margin: 236px 17px 17px;
	padding: 12px 25px 20px 25px;
}
.doctors__name {

}
.name {
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
	// padding-top: 12px;
}
.doctors__prof {
}
.prof {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 155%;
	// padding-bottom: 20px;
}
.doctors__scroll {
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 35px 0 60px 0;
}
.doctors__prev {
	margin-right: 10px;
}
.ar{
	width: 96px;
	height: 44px;
	background:  #FFF;
	// margin-right: 10px;
	// margin-top: 40px;
	// margin-bottom: 60px;
}
.doctors__next {
	margin-right: 0px;
}
.doctors__arrow{

	margin: 11px 28px; 
}
// #next {
// 	z-index: 100;
//   position: absolute;
//   top: 50%;
//   left: 100%;
//   right: 0;
//   bottom: 0;
//     }
.review {}
.review__content {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: -80px;
	margin-right: -80px;
	// max-width: 1440px;
	// justify-content: center;
}
.review__label1 {
	text-align: center;
}
.review__label1 span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector6Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 9.8px;
}
.label {}
.review__text1 {
	margin-top: 20px;
	width: 43%;
	text-align: center;
}
.text {}
.review__bg{

}
.review__articles {
	border-radius: 10px;
	margin-top: 46px;
	margin-left: 80px;
	gap: 0 20px;
}
.review__article{
	background: #FFF;
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
	margin-right: 20px;
	margin-bottom: 50px;
	flex: 1 1 27%;

}
.review__article:last-child{
	margin-right: 0px;
}
.review__header {
	margin-left: 30px;
	margin-top: 25px; 
		display: flex;
		align-items: center;
}
.review__photo {

}
.review__info{
	margin-left: 10px;
}
.review__name {
	color: #011632;
	font-size: 24px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.48px;
}
.review__stars {
	width: 104px;
	height: 20px;
	background-image: url('../img/icons/stars.png');
	top: 0;
	left: 0;
}
.review__text{
	margin: 19px 30px 27px;
	color: #3C4959;
	font-size: 16px;
	line-height: 155%;
}
.review__scroll {
	justify-content: center;	
	display: flex;
	margin-top: 50px;
	margin-bottom: 100px;
}
.review__prev {
}
.ar1 {
	width: 96px;
	height: 44px;
	margin-right: 10px;
}
.review__arrow {
	padding: 11px 28px;
	background: #011632;

}
.review__next {
	margin-right: 0px;
}


.news {
}
.news__content {
	width: 100%;
}
.news__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.news__title {}
.news__label1 {
	width: 100%;
}
.news__label1 span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector7Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 8px;
}
.news__text1 {
	margin-top: 20px;
	width: 50%;
	margin-bottom: 0px;
}
.btn {}
.button {}
.news__articles {
	margin-top: 71px;
}
.news__row.home{
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.news__column.home{
	flex: 1 1 20%;
}
.news__row {
	display: flex;
	gap: 30px 20px;
}

.news__column {
	border-radius: 10px;
	background: #E6F6FE;
}
.news__wrapper{
	margin: 20px 20px 10px;
}

.news__img {
	margin-bottom: 22px;
}
.news__image{
	width: 100%;
}
.news__case{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.news__btn {
	width: 30%;
	padding: 5px 13px;
	border-radius: 5px;
	background: #011632;
}

.news__button{
	color:#FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 155%
}
.news__label {
	color: #011632;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
	margin-top: 14px;
	margin-bottom: 10px;
}

.news__text {
	color: #3C4959;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.news___author {
	text-align: right;
	color: #011632;
	font-size: 16px;
	line-height: 155%;
}
.news__more {
	text-align: center;
}
.news__row.blogs {
	flex-wrap: wrap;
	gap: 30px 20px;
	// justify-content: space-between;
}
.news__column.blogs {
	flex: 1 1 23%;
}
.news__text.blogs{
	margin-bottom: 30px;
}
.news.blogs .news__wrapper.blogs img{
	width: 100%;
}
.faq {
	margin-top: 100px;
	margin-bottom: 126px;
	display: flex;
	justify-content:center;
}
.faq__wrapper {


}
.faq__content {
	width: 50%;
	margin: 0 auto;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
}
.faq__label {
text-align: center;
margin-bottom: 20px;
}
.faq__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector8Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 8px;
}
.label {

}
.faq__text {
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	width: 73%;
}

.faq__questions{
	margin-top: 66px;
  width:100%;
 }
.faq__item{
  width:100%;
}
	.faq__item.close{
	position: relative;
	border-bottom: 1px solid #CFCFCF;
	}
	.faq__item.close:after{
	position: absolute;
	content: "";
	top: 39%;
	right: 30px;
	background: url('../img/icons/faqIcn.png') no-repeat;
	width: 23px;
	height: 23px;
	}
	.faq__item.close:before{
		position: absolute;
	content: "\25CF";
	top: 36px;
	left:	29px;
	margin-right: 2px;
	}	
.faq__heading{
	// position: relative;
  cursor:pointer;
	color: #FFF;
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
	color: #011632;
	font-size: 16px;
	line-height: 155%;
	letter-spacing: 0.24px;
	padding: 32px 0 32px 50px;
}
// .faq__heading:before{
// 	content: "\25CF";
// 	top: 0;
// 	left:		0;
// 	margin-right: 2px;
// }
// .faq__heading:after{
// 	position: absolute;
// 	content: "";
// 	top: 39%;
// 	right: 30px;
// 	background: url('../img/icons/faqIcn.png') no-repeat;
// 	width: 23px;
// 	height: 23px;
// }
.faq__answer{
	color: #FFF;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
	border-radius: 0px 0px 10px 10px;
	margin: 0 30px;
}
.close .faq__answer{
  height:0px;
  transition:height 1s ease-out;
  transform: scaleY(0); 
}
.open .faq__answer{
  padding: 20px;
  border-top: 1px solid #fff;
	background: #1376F8;
  transform-origin: top;
  transition: transform 0.4s ease;
}

.faq__item.open{
	border-radius: 10px;
	background: #1376F8;
	position: relative;
}

.open .faq__heading{

	color: #FFF;
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
	padding: 20px 0 20px 48px;
}
.faq__item.open:before{
	color: #fff;
	position: absolute;
	content: "\25CF";
	top: 26px;
	left:	30px;
	margin-right: 2px;
}
.faq__item.open:after{
	position: absolute;
	content: "";
	top: 26px;
	right: 28px;
	background: url('../img/icons/faqIcn3.png') no-repeat;
	width: 570px;
	height: 23px;

}

.website {
}

.website__content {
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	max-width: 1064px;
	justify-content: center;	
	background-color: #011632;
	margin-bottom: 105px;
}
.website__row {
	padding: 50px 55px 50px 45px;
	display: flex;
}
.website__column {
	max-width: 582px;
	margin-right: 77px;
}
.website__label {
	text-align: left;	
	color: #ffffff;
}
.website__text {
	width: 100%;
	text-align: left;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 30px;
}
.website__btn {}
.website__button {}
.website__column2 {
	width: 62%;
	height: 292px;
}
.website__img {
	width: 100%;
	height: 100%;
	background: url('../img/img.png') center/cover no-repeat;
	border-radius: 10px;

}





.footer{
	margin-bottom: 35px;
}
.footer__content {
}
.footer__info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 2px #011632 solid;
}
.footer__logo {}
.footer__items {
	color: #3C4959;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	margin-right: 40px;
}
.footer__items:last-child{
	margin-right: 0px;
}
.footer__links {
	padding-top: 30px; 
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.footer_text {}
.footer__icons {
	margin-right: 20px;
}
.footer__icons:last-child{
	margin-right: 0px;
}
.case{
	max-width: 1440px;
	flex-shrink: 0;
	margin: 0 auto;
}
.main.services{
	background: linear-gradient(180deg, #E6F6FE 0.58%, rgba(235, 248, 254, 0.00) 98.6%);
	padding-top: 40px;
	width: 100%;
}
.header.services{
	margin: 0;
}
.header__content.services{

	border-radius: 10px;
	background: #FFF;
}
.services{
.main__content.services{
}
}
.main__services {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: center;
}
.main__service .offers{	
	background: none;
}
.main__title.services {
	margin-top: 79px;
}
.main__title.services span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorService1.svg') center center/ cover no-repeat;
	width: 100%;
	top: 87%;
	left: 0;
	right: 0;
	height: 7px;
}
.main__text.services {
	padding-right: 0;
	text-align: center;
	max-width: 526px;
}
.main__wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text {}
.services {}

.offers__row.services{
	width: 100%;
	gap: 50px 60px;
	background-color: initial;
	flex-wrap: wrap;
	padding-left: 0;
	padding-right: 0;
}
.offers__row.services .offers__column{
	flex: 1 1 29%;
}
.smile.dark {
	max-width: 1440px;
	background: #011632;
}
.container.service{
}
.smile__content {}
.dark {

}
.smile__row.service{
	padding: 50px 0;
}
.smile__column.service {
	padding-top: 34px;
	margin-right: 50px;
	max-width: 590px;
}
.smile__label.service {
	color: #fff;
}
.smile__label.service span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vectorService.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 7.3px;
}
.label {}
.smile__text.service {
	color: #fff;
	margin-right: 0;
}
.text {}
.offers__more {}
.btn {}
.smile__learn.service {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
}
.offers__arrow {}
.smile__form {
	border-radius: 10px;
	background-color: #fff;
	width: 414px;

}
.smile__case{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.smile__title{
	color: #011632;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
	text-transform: capitalize;
	padding-top: 34px;
	padding-bottom: 39px;
}
.form__phone.service{
	margin-bottom: 20px;
	width: 100%;
	padding: 0 20px;
}
.form__input.service{
	width: 100%;
}
.form__input.service::placeholder{
	background-image: none;
	padding-left: 0;
	width: 100%;
}
.smile__input {}


.smile__submit {
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	text-align: center;
	padding: 10px 50px;
}
.form__submit {}

.review__scroll.blogs{
	margin-bottom: 0px;
}
.doctors__content.service {
  margin-left: 0;
}
.doctors__review.service {
}
.info.service  {
  margin-right: 0;
  width: 21%;
  background-repeat: no-repeat;
}

.main__services.blogs{
	margin: 0 auto;
	// margin-bottom: 50px;
	max-width: 455px;
}
.main__title.blogs{
}
.main__title.blogs span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorBlogs.svg') center center/ cover no-repeat;
	width: 100%;
	top: 87%;
	left: 0;
	right: 0;
	height: 5px;
}
// .form-input.blogs{
// 	width: 100%;
// }
.main__services.blogs form{
	width: 100%;
}
.form__phone{
	width: 100%;
	margin-bottom: 50px;
}
.form__input.blogs::placeholder{
	padding-left: 30px;
	color: #CFCFCF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/search.svg') 0px 0/20px 20px no-repeat;
}
.news__content.blogs{
	margin-bottom: 96px;
}
.news__header{
	margin-bottom: 57px; 
}
.news__row.blogs{
	margin-bottom: 0px;
}
.news.blogs{
	margin-top: 100px;
}
.news__label1.blogs span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vectorBlogs1.svg') center center/ cover no-repeat;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
}
.news__btn.blogs {
	padding: 7px 13px;
}
.news__articles.main.blogs{
	margin-top: 0px;
	width: 105%;
}
.news__more.blogs{
	margin-top: 40px;
}
.footer__content.service {
	padding: 0 80px 0;
}
.main__title.about{
}
.main__title.about span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorAbout.svg') center center/ cover no-repeat;
	width: 100%;
	top: 93%;
	left: 0;
	right: 0;
	height: 5px;
}
.blogs__row {
	display: flex;
	justify-content: center;
}
.blogs__column:nth-child(1) {
	margin-left: 108px;
	width: 649px;
	margin-right: 70px;
}
.blogs__label{
	margin-bottom: 20px;
}
.blogs__title {
	margin-bottom: 32px;
}
.title {
	color: #011632;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
}
.blogs__text{
	margin-bottom: 32px;
}
.blogs__text:nth-shild(2) {
	margin-bottom: 0px;
}
.text {}
.blogs__column.photo {
	margin-top: 10px;
	background-image: url('../img/aboutBoy.png');
	width: 453px;
	height: 603px;
}
.meet {}
.meet__content {
	margin-top: 100px;
}
.meet__info {

}
.meet__text.blogs{
	text-align: center;
	margin: 0 auto;
	width: 479px;
	margin-top: 20px;
}
.meet__label {
	margin: 0 auto;
	width: 419px;
}
.label {}
.text {}
.meet__doctors {
	margin-top: 80px;
	padding-right: 188px;
	padding-left: 188px;
}
.meet__row {
	display: flex;
	margin-bottom: 100px;
}
.meet__img{
	width: 305px;
	height: 350px;
	flex-shrink: 0;
}
.meet__img.brent{
	background: url('../img/doctorAbout1.png') no-repeat;
}
.meet__img.vashi{
	background: url('../img/doctorAbout2.png') no-repeat;
}
.meet__img.james{
	background: url('../img/doctorAbout3.png') no-repeat;
}
.meet__column {
	margin-left: 30px;
}
.meet__name {
	color: #011632;
	font-weight: 600;
}
.meet__about.text{
	margin: 24px 0 35px;
}
.name {
}
.speciality {
	padding-left: 15px;
	font-size: 16px;
	font-weight: 400;
	line-height: 155%; 
	letter-spacing: 0.24px;
}

.meet__btn {}
.btn {}
.meet__button {}
.button {}
.tech {}
.tech__content {
	margin: 0 auto;
	max-width: 1280px;
}
.tech__label {
	text-align: center;
	margin-bottom: 20px;
}
.tech__label span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorAbout2.svg') center center/ cover no-repeat;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
}
.label {}
.tech__text {
	// margin-top: 20px;
	// margin-bottom: 70px;
	text-align: center;
	margin: auto;
	width: 592px;
}
.text {}
.tech__row {
	margin-top: 70px;
	display: flex;
}
.tech__img {
	background: url('../img/aboutTech.png') no-repeat;
	width: 522px;
	height: 393px;
}
.tech__column {
	max-width: 728px;
	margin-left: 20px;
}
.tech__title {
	margin-bottom: 20px;
}
.title {}
.tech__about.text{
	margin-bottom: 22px;
}
.offers.about{
	margin-top: 100px;
	margin-bottom: -16px;
}
.offers__content.about{
	max-width: 1280px;
	margin: 0 auto;
}
.offers__row.about{
	background: #011632;
}
.main__title.contacts span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorContacts.svg') center center/ cover no-repeat;
	width: 100%;
	top: 93%;
	left: 0;
	right: 0;
	height: 5px;
}
.main__services.contact{
	margin-bottom: 40px;
}
.contacts__content {
	margin: 0 76px;
}
.contacts__row {
	display: flex;
}
.contacts__column {
	max-width: 503px;
}
.map {}
.contacts__img {
	position: relative;
	width: 503px;
	height: 325px;
	background: url('../img/contactsMap.png') center/cover no-repeat;
	margin-bottom: 20px;
}
.contacts__address.box{
	position: absolute;
	width: calc(100% - 40px);
	bottom: 0;
	margin: 0px 20px 20px 20px;
}
.contacts__wrap{
}
.contacts__wrap.address{
}
.box{
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.08);
	padding: 20px 0px 20px 20px;
	margin-bottom: 20px;
}
.contacts__chat.box{
	margin-bottom: 0px;
}
.contacts__address {
}
		
.contacts__time {
}
.contacts__icon {
	margin-right: 15px;
	background-color: #1376F8;
	border-radius: 50%;
}
.contacts__icn{
	padding: 13px;
}
.contacts__box{
	display: flex;
	align-items: center;
}

.contacts h6{
	color:  #011632;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.contacts p{
	color: #3C4959;
	font-size: 16px;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.24px;
}
.time {}
.contacts__email {}
.email {}
.contacts__phone {}
.phone {}
.contacts__chat {}
.chat {}

.contacts__column.form {
	border-radius: 10px;
	border: 1px solid #25B4F8;
	margin-left: 20px;
	max-width: 589px;
	padding: 41px 46px 32px;
}

.form {

}
.contacts__form {}
.contacts__form span{
	color: #3C4959;
	display: block;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
	margin-bottom: 10px;
}
.contacts__name {
	width: 498px;
	margin-bottom: 32px;
}
.contacts__row {
}
.contacts__input::placeholder{
	padding-left: 0;
	font-size: 14px;
	color: #667085;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.28px;
	background-image: none; 
}
.contacts__input{
	margin-bottom: 12px;
	padding: 14px 16px;
	border-radius: 10px;
	border: 1px solid #CECECE;
	background:  #FFF;
	width: 232px;
}
.contacts__input.first{
	margin-right: 32px;
}
// .contacts__row input:first-child{
// 	margin-right: 32px;
// }

.form__input {}
.contact {}
.contacts__select {

}
.contacts__select span{
	color: #011632;
font-size: 16px;
font-weight: 400;
line-height: 155%;
letter-spacing: 0.24px;
}
.contacts__select{
}
select{
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	border: none;
	padding: 12px 12px 12px 16px;
}
.wadwa{
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid  #D0D5DD;
	background:  #FFF;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	margin-bottom: 12px;
}
option {
}
.contacts__input.date{
	color: #667085;
	font-size: 14px;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.contacts__input.message {
	width: 100%;
	height:	185px;
	margin: 0;
	padding: 10px 14px;
	resize: none;
}
// input[type="text"] {
// 	color: #CFCFCF;

// /* B2/Regular */
// font-family: General Sans;
// font-size: 16px;
// font-style: normal;
// font-weight: 400;
// line-height: 155%; /* 24.8px */
// letter-spacing: 0.24px;
// }
textarea{
	color: #667085;
	font-size: 14px;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.28px;
}
input{
color: #667085;
font-size: 16px;
font-weight: 400;
line-height: 155%;
letter-spacing: 0.28px;
}
.contacts input{
color: #667085;
font-size: 14px;
font-weight: 400;
line-height: 155%;
letter-spacing: 0.28px;
}
.contacts__btn.btn {
	display: flex;
	margin: 0 auto;
	padding: 0;
}
.btn {}
.contacts__button.button {
	margin: 0;
	padding: 15px 30px;
	color:  #FFF;
	font-size: 16px;
font-weight: 600;
line-height: 155%;
letter-spacing: 0.24px;
}
.button {}

.case.login{
	// padding-bottom: 10px;
}
.main.login{
	background: #FFF;
}
.header__content.login{
	background: #E6F6FE;
}
.login__case {
	margin-top: 40px;
}
.login__row {
	display: flex;
}
.login__img {
	position: relative;
	background: url('../img/loginBg.png') center/contain no-repeat;
	border-radius: 10px;
	width: 710px;
	height: 860px;
	margin-right: 128px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.login__quote {
	margin: 0px 87px 73px;
}
.login__quote q{
	color: #FFF;
	font-size: 24px;
	line-height: 120%; 
	text-transform: capitalize;
}
.login__quote p:nth-child(1){
	margin-bottom: 5px;
}
.login__quote p:nth-child(2){
	margin-bottom: 20px;
}
.login__quote cite{
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
	font-style: normal;
}
.login__quote span{
	color: #FFF;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.login__form{
	margin: auto 0;
	max-width: 414px;
}
.login__label {

}
.label {}
.login__text {
	color: #3C4959;
	font-size: 16px;
	line-height: 155%;
	letter-spacing: 0.24px;
	margin: 8px 0px 37px;
}
.login__google {
	border-radius: 10px;
	border: 1px solid  #011632;
	background:	#FFF;
	padding: 19px 128px 19px 156px;
}
.login__container{
	margin-bottom: 35px;
}
.login__google span:before{
	content: "";
	position: absolute;
	top: -5px;
	left: -35px;
	background: url('../img/icons/loginGoogle.png') center / cover no-repeat;
	width: 28px;
	height: 28px;
}
.login__google span{
	position: relative;
	color: #011632;
	text-align: center;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.login__or.text {
	text-align: center;
	margin-bottom: 25px;
	position: relative;
}
.login__or:before{
	background: #011632;
	content: "";
	top: 50%;
	left: 0;
	position: absolute;
	width: 188px;
	height: 0.5px;
}
.login__or:after{
	background: #011632;
	content: "";
	top: 50%;
	right: 4px;
	position: absolute;
	width: 184px;
	height: 0.5px;
}
.form__input {
	padding: 0 0 0 20px;
	// padding: 21px 260px 17px 20px;
}
.form__input.login{
	width: 100%;
	margin-bottom: 24px;
}
.form__input.mail::placeholder{
	padding-left: 30px;
	color: #AFAFAF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/loginIcn.svg') 0px 0/ 20px 20px no-repeat;
}
.form__input.pass::placeholder{
	padding-left: 30px;
	color: #AFAFAF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/loginIcn2.svg') 0px 0/ 20px 20px no-repeat;
}
.psw {
	text-decoration: underline;
	color: #011632;
}
.login__me{
	display: flex;
	justify-content: space-between;

}
.login__btn {
	width: 100%;
	margin: 20px 0;
}
.btn {}
.login__create{
	text-align: center;
}
.login__create span{
	color: #011632;
	font-weight: 500;
}
.login__button {}
.button {}
.login__img.sign{
	height: 882px;
	background: url('../img/signImg.png') center/contain no-repeat;
}
.form__input.username::placeholder{
	padding-left: 30px;
	color: #AFAFAF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/signIcn.svg') 0px 0/ 20px 20px no-repeat;
}
.login__me.sign span{
	padding-left: 10px;
}
.login__create.sign span{
	text-decoration: underline;
	font-weight: normal;
}

	/* toggle */



.swiper {
  width: 100%;
  height: 100%;
}

.main__book.mobile{
	display: none;
}
.offers__mobile {
	display: none;
}
.video__vidMobile{
	display: none;
}
.mobile__footer{
	display: none;
}
.container {}
.mobile__content {
	margin-top: 100px;
}
.mobile__burger {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.mobile__logo {}
.header__menu {

}
.header__burger {}
.header__slide {}
.mobile__sl{
		background: #011632;
}
.header__items {}
.active {}
.block {}
.mobile__text {}
.text {}
.mobile__follow {
	color: #011632;
	font-size: 18px;
	font-weight: 600;
	line-height: 155%;
	letter-spacing: 0.27px;
	margin-bottom: 10px;
}
.mobile__links {
	display: inline-block;
	border-top: 0.5px #AEAEAE solid;
	margin-bottom: 97px;
	padding-top: 10px;
}
.mobile__icn {}
.mobile__end {
	text-align: center;
	background: #011632;
	margin: 0 -20px;
}
.mobile__end p{
	color: #FFF;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.28px;
	padding: 4px 0;
}
.dis{
	display: none;
}

// .news__row.swiper-wrapper{
// 	box-sizing: border-box;
// 	// margin: 0;
// 	flex-wrap: nowrap;
// 	gap: 20px;
// }
.news__column.swiper-slide{
	flex: 1 1 calc(100% / 4);
}
.news__img{
	max-width: 100%;
}
.doctors__review.mobile{
	display: none;
}



 // ADAPTIVE
@media (max-width: 1200px) {
	.container {
		max-width: 100%;
		margin: 0 80px;
	}
		.faq__content{
		width: 70%;
	}
	.main__row {

		display: block;
	}
	.main__column{
		margin: 0 auto;
		position: static;
		max-width: 80%;
	}
	.main__text {
		padding-right: 0;
	}
	.main__book{
		// justify-content: center;
		gap: 0 30px;
	}
	.main__link {
		margin-right: 0;
		margin-bottom: 50px;
	}
	.main__column2{
		margin: 0 auto; 
		max-width: 600px; 
		height: 427px;
	}
	.main__photo1{
		width: 100%;
		height: 100%;
		background: url('../img/icons/mainGirl.svg') center/contain no-repeat;
	}
	.main__girl{
		max-width: 100%;
		max-height: 100%;
	}
	.form__row{
		display: block;
		margin-top: 100px;
		padding: 0;
		margin-bottom: 70px;
	}
	.form__column{
		margin: 0 auto;
		max-width: 80%;
	}
	.form__column2{
		position: static;
		background: none;
		margin: 0 96px;
		max-width: 80%;
	}
	.form__input{
		margin-bottom: 50px;
	}
	.form__background {
		height: 100%;
	}
	.form__img {
		position: static;
		top: 0;
		left: 0;
		background-position: left;
	}
	.book__row{
		padding: 55px 0;
		display: block;

	}
	.book__column{
		margin-left: 96px;
		max-width: 80%;
	}
	.book__img{
		margin-top: 50px;
	}
	.book__column2{
		margin: 0 auto;
		max-width: 80%;
	}
	.smile__content{
		margin: 100px 0;
	}
	.smile__row{
		display: block;
	}
	.smile__bg{
		position: static;
		background: none;
	}
	.smile__img{
		position: static;
	}
	.smile__column:first-child {
	margin-right: 0px;
	}
	.smile__column{
		margin: 0 96px;
		max-width: 80%;
	}
	.smile__column2{
		margin: 0 96px;
		max-width: 80%;
	}
	.smile__btn{
		margin-bottom: 50px;
	}
	.review__article{
		flex: 1 1 40%;
	}
	.news__btn1{
		max-height: 55px;
		width: 121px;
	}
	.faq__label > span:before{
		content: none;
	}


	//SERVICES//
	.form__input.service{
		margin: 0;
	}
	.smile__column.service{
		margin-bottom: 40px;
	}
}

@media (max-width: 1044px){
	.header__btn{
		display: none;
	}
	.doctors__info.info {
		flex: 1 0 calc(100% / 3.8);
	}

}

@media (max-width: 992px) {
	.container {
		margin: 0 50px;
		max-width: none;
	}
	.main__column, .form__column, .smile__column {
		margin: 0 20px;
		max-width: 100%;
	}
		.main__girl{
		max-width: 100%;
		max-height: 100%;
	}
	.review__article{
		flex: 1 1 80%;
	}
	.faq__content{
		width: 70%;
	}
		.website__row{
		display: block;
	}
	.website__column{
		margin: 0;
	}
	.website__column2{
		width: 100%;
		margin-top: 50px;
	}
		.news__row article:nth-child(n+4){
		display: none;
	}	

}

@media (max-width: 875px) {
	.container{
		margin: 0 40px;
	}
	.main__title span:before{
	display: none;
	}
	.header__content {
		background: none;
		padding: 0;
	}
	.header__menu{
		display: block;
	}
	.header__nav{
		display: none;
	}
	.header__book{
		display: none;
	}
	.header__logo{
	}
	.header__slide{
		
	}
	.main__title{
		font-size: 42px;
	}
	.label{
		font-size: 36px;
	}
		.main__column{
		position: static;
		max-width: 100%;
	}
	.form__column{
		max-width: 100%;
	}
	.form__column2{
		background: none;
	}
	.book .container{
		margin: 0;
	}
	.book__content{
		padding: 0 20px;
	}

	.smile__column{
		margin: 0;
		max-width: 100%;
	}

	.video__content{
	}
	.news__content{
	}
	.news__header a{
		display: none;
	}
	.news__text1 {
		width: 100%;
	}
	.faq__content{
		width: 100%;
		padding: 0 96px;
	}
	.website .container{
		margin: 0;
	}
	.website__row{
		padding: 50px 20px;
	}
	.website__column{
		max-width: 90%;
	}
	.footer .container{
		margin: 0;
	}
	.footer__content{
		padding: 0 40px;
	}
	.faq__content{
		width: 100%;
	}

	//SERVICES//
	.header__content.services{
		background: none;
	}
	.main__services{
		display: block;
		text-align: left;
	}
	.main__text.services{
		text-align: left;
	}
}	

@media (max-width: 844px) {
	.container{
		margin: 0 20px;
	}
	.offers{
		background: #E6F6FE;
	}
	.offers .container{
		margin: 0 20px;
	}
	.offers__mobile{
		display: block;
	}
	.offers__content.home{
		display: none;
	}
	.offers__column.swiper-slide:first-child{
		height: 100%;
	}
	.offers__column.swiper-slide {
		flex: 1 1;
		// max-width: 31%;
		border-radius: 10px;
		max-height: 300px;
	}
	.offers__content.swiper {
		background: #E6F6FE;
	}
	.offers__row.swiper-wrapper{
		gap: 0;
		box-sizing: border-box;
		justify-content: flex-start;
		width: calc(100% * 3);
		padding: 50px 0 40px;
	}
	.doctors__scroll.offer{
		margin-bottom: 30px;
		margin-top: 0;
	}
	.faq__content{
	}
	.website__content{
		width: 100%;
	}
		.footer{
		display: none;
	}
	.mobile__footer{
		display: block;
	}
	.video__text, .video__label{
		width: 100%;
	}

}
@media (max-width: 703px) {
		.faq__content{
		padding: 0 30px;
	}
	.faq__questions{
		margin-top: 50px;
	}
	.faq__heading{
	max-width: 320px;
	}
	.open .faq__answer{
  padding: 10px 0 20px 0;
	}
		.main__column, .form__column, .smile__column {
		margin: 0;
	}
	.book__column2{
		margin: 0;
		max-width: 100%;
	}
	.smile__column2, .form__column2, .book__column{
		margin: 0;
		max-width: 100%;
	}
	.news__row article:nth-child(n+3){
		display: none;
	}
	.doctors__review.mobile{
		display: block;
	}
		.doctors .container{
		margin: 0 20px;
	}
	.doctors{
		background: #E6F6FE;
	}
	.doctors__content{
		max-width: 100%;
		margin: 0;
	}
	.doctors__review{
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.doctors__info.info:first-child{
		margin-bottom: 35px;
	}
	.doctors__info.info {
		width: 100%;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: flex-end;

	}
	.doctors__text {
		margin-bottom: 35px;
	}
	.doctors .mySwiper{
		display: none;
	}
	.doctors__box{
		margin: 0;
		height: 104px;
		margin-bottom: 20px;
		text-align: left;
		padding-top: 20px;
	}
	.doctors__btn{
		margin: 40px 0 50px;
	}
	.doctors__text{
		width: 80%;
	}

}
@media (max-width: 545px) {
		.main__girl {
		margin-left: -40px;
	}
				.news__row article:nth-child(n+2){
		display: none;
	}	
			.faq__content{
		padding: 0;
	}
		.header__content {
	padding: 0;
	}
	.main__column{
		margin: 0;
	}
	.smile__column2, .form__column2, .book__column{
		margin: 0 auto;
	}
	.main__row{
	}
	.main__book {
		display: none;
	}
	.main__book.mobile {
		display: flex;
		gap: 15px;
	}
	.main__btn.btn{
		margin: 0;
		width: 150px;
	}
	.main__border{
		margin-right: 10px;
	}
	.main__text1{
		max-height: 22px;
		width: 158px;
	}
	.main__phone{
		width: 238px;
		margin-right: -20px;
	}
	.main__photo1{
		max-width: 415px;
		max-height: 415px;
		background: url('../img/icons/mainGirl.svg') left/contain no-repeat;
		margin: 0 auto;
	}
	.offers .container{
		margin: 0 20px;
	}
	.offers__row.swiper-wrapper{
		width: 300%;
		padding: 50px 0 40px;

	}
	.offers__column.swiper-slide{
		// flex: 1 1 504px;
	}
	.offers__case{
		// width: 100%;
	}
	.form__phone{
		position: relative;
	}
	.form__phone .form__submit{
		position: absolute;
		top: 0;
		left: 70%;
	}
	.form__input{
		width: 70%;
	}
	.book .container{
		margin: 0;
	}
	.book__row{
		margin: 0 20px;
	}
	// .book__column, .book__column2{
	// 	margin: 0;
	// }
	// .smile__column, .smile__column2{
	// 	margin: 0;
	// }
	.label, .text{
		width: 100%;
	}
	.video__vid{
		display: none;
	}
	.video__vidMobile{
		display: block;
	}
	.review .container{
		margin-top: 100px;
	}
	.review__content{
		margin: 0;
	}
	.review__articles.swiper-wrapper{
		margin: 0;
		box-sizing: border-box;
		gap: 0;
	}
	.review__article{
		margin: 0;
		flex: 1 0 100%;
	}
	.website .container{
		margin: 0;
	}
	.website__row{
		padding: 70px 20px;
	}

	//SERVICES//
	.offers__row.services{
		display: block;
		padding: 0 35px;
	}
	.offers__row.services .offers__column{
		margin-bottom: 30px;
	}
	.offers__row.services .offers__column:last-child{
		margin-bottom: 0px;
	}	
	.smile__form{
		width: 100%;
	}
}
@media (max-width: 430px) {
	.wrapper{
		width: 428px;
	}
	.case{
		width: 428px;
	}
}
