/*Обнуление*/
*{padding:0;margin:0;border: 0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
// Отключение скролла у input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
/*--------------------*/

body{
	font-family: 'General Sans', sans-serif;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.wrapper {
	padding: 0 80px ;
	max-width: 1440px;
}
.main {
}
.header {
	margin-top: 40px;
	border-radius: 10px;
	background: #E6F6FE;
}
.header__content {
	padding: 15px 41px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.header__nav {
}
.header__items {
	color: #011632;
	font-size: 16px;
	font-weight: 500;
	line-height: 155%; 
	margin-right: 38px;
}
.header__items.active{
	color:#011632;
	font-size: 16px;
	font-weight: 600;
	line-height: 155%;
}
.header__items:last-child{
	margin-right: 0px;
}
.header__book {
	display: flex;
	align-items: center;
}
.header__ava {
	margin-right: 20px;
}
.header__btn {
}
.btn{
	display: inline-block;
	padding: 15px 30px;
	border-radius: 10px;
	background: #1376F8;
}
.button{
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 155%;
}
.header__button {
}
.main__content {

}
.main__row {
	margin-top: 60px;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.main__column {
	max-width: 687px;
	margin-top: 56px;
	position: absolute;
	top: 0;
	left: 0;
}
.main__title {
	color: #011632;
	font-size: 58px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -1.24px;
	text-transform: capitalize;
	margin-bottom: 22px;
}
span.underline{
	position: relative;
}
.main__title span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorHome.svg') center center/ cover no-repeat;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0;
	height: 9px;
}
.main__text {
	padding-right: 157px;
}
.text{
	color: #3C4959;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
	margin-bottom: 40px;
	text-align: left;
}
.main__book {
	display: flex;
}
.main__btn {
	margin-right: 22px;
}
.btn{
}
.button{
}
.main__button{
}

.main__phone {
	display: flex;
	align-items: center;
}
.main__border {
	margin-right: 15px;
	border-radius: 10px;
	border: 1px solid #1376F8;
	background:  #FFF;
	padding: 5px;

}
.main__icon {
	padding: 10px;
	border-radius: 10px;
	background:linear-gradient(180deg, #E6F6FE 0%, rgba(230, 246, 254, 0.00) 100%);
}
.main__calling{
	width: 24px;
	height: 24px;
	padding: 2px;
}
.main__info {}
.main__text1 {
	color: #1376F8;
	font-style: normal;
	font-weight: 600;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.main__num {
	color: #011632;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.main__link {
	border-radius: 16.667px;
	background: #FFF;
	box-shadow: 0px 8.333px 41.667px 0px rgba(0, 0, 0, 0.08);
	width: 374px;
	height: 117px;
	margin-top: 50px;
}
.main__wrapper{
	padding: 13px 16px;
	color: #011632;
	font-size: 12px;
	line-height: 155%;
	letter-spacing: 0.18px;
}
.main__review {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main__personal {
	display: flex;
}
.main__photo {
	margin-right: 8px;
}
.main__name {
}
.main__tom {
	font-size: 14px;
	font-weight: 500;
}
.main__icon1 {}
.main__text2 {

	padding-top: 12px;
	padding-right: 23px;
}
.main__column2 {

}
.main__photo1 {
	margin-right: 40px;
}
.main__girl{
	width: 695.434px;
	height: 676.418px;
}
.offers {}
.offers__content {}
.offers__row {
	height: 400px;
	width: 1280px;
	border-radius: 10px;
	background: #E6F6FE;
	box-shadow: 0px 20px 70px 0px rgba(230, 246, 254, 0.30);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	flex-wrap: wrap;
}

.offers__column {
	flex: 0 1 calc(1160px/3);
	background-color: #fff;
	border-radius: 10px;
	height: 300px;
}
.offers__case{
	padding: 18px 0px 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.offers__column:last-child{
	margin-right: 0px;
}
.offers__icon {
	background-color: #25B4F8;
	border-radius: 50%;
}
.offers__icn {
	padding:	11px;
}
.offers__title {
	margin: 17px 0px;
	color: #011632;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
}
.offers__text {
	margin: 0 20px 0;
	color: #3C4959;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.offers__more {
	margin-top: 15px;
}
.offers__learn{
	margin-right: 9px;
	color: #011632;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	text-decoration-line: underline;
}
.offers__arrow{
	padding-top: 2px;
}
.form {

}
.container {
	margin: 120px 70px;
}
.form__row {
	display: flex;
	// justify-content: space-between;
}
.form__column {
	max-width: 531px;
	margin-right: 200px;
}
.label{
	color: #011632;
	font-size: 42px;
	font-weight: 600;
	line-height: 125%;
	text-transform: capitalize;
	text-align: left;
}
.form__label {
}


.form__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector2Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 5px;
}
.form__text {
	margin-top: 20px;
}
.text {

}
.form__phone {
}

.form__input::placeholder{
	padding-left: 30px;
	color: #CFCFCF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/call.png') 0px -2px/24px 24px no-repeat;
}
.form__input{
	width: 341px;
	height: 55px;
	border-radius: 10px;
	border: 1px solid #CECECE;
	background:  #FFF;
	padding: 0 0 5px 34px;
}
.form__submit{
	padding: 15px 30px;
	margin-left: -15px;
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 155%;
	text-transform: capitalize;
	display: inline-flex;
	align-items: flex-start;
	border-radius: 0px 10px 10px 0px;
	background: #1376F8;
}
.form__column2 {
	width: 413px;
	height: 362px;
	border-radius: 10px;
	background: linear-gradient(53deg, rgba(37, 180, 248, 0.00) 0%, rgba(37, 180, 248, 0.47) 64.42%, #25B4F8 126.21%);
	position: relative;
}
.form__background {
}
.form__img {
	position: absolute;
	z-index: 1;
	top: 30px;
	left: -60px;
	right: 0;
	bottom: 0;
	min-width: 413px;
	min-height: 362px;
	background: url('../img/boy.png') center/contain no-repeat;
}
.book {}
.book__content {
	background: #E6F6FE;
}
.book__row {
	padding: 55px 108px;
	display: flex;
	justify-content: space-between;
}
.book__column {

}
.book__img{
	width: 414px;
	height: 444px;
	background: url('../img/boy2.png') 0 0 / cover;
}
.book__column2 {
	margin-left: 128px;
	
}
.book__label {}
.book__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector3Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 84%;
	left: 0;
	right: 0;
	height: 6px;
}
.text{
}
.book__text {
	// margin-left: 100px;
	margin: 20px 0px;
}
.book__list {
color: #3C4959;
font-size: 18px;
font-weight: 500;
line-height: 155%;
letter-spacing: 0.27px;
}
.book__li{ 
	position: relative;
	margin-left: 25px;
	margin-bottom: 15px;
}
.book__li:last-child{
	margin-bottom: 30px;
}
.book__li:before{
	position: absolute;
	left: -22px;
	top: 2px;
	content: url('../img/icons/shieldDone.png');
	background-position: left;
	z-index: 1;
}
.btn{
}
.book__btn{
}
.button{
}
.book__button{
}
.smile {}
.container {}
.smile__content {}
.smile__row {
	display: flex;
	justify-content: space-between;
}
.smile__column{
	max-width: 555px;
}
.smile__column:first-child {
	margin-right: 140px;
}
.smile__label {
}
.smile__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector4Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 7.3px;
}
.label {}
.smile__text {
	margin-top: 20px;
	margin-right: 20px;
}
.text {}
.smile__btn {}
.btn {}
.smile__button {}
.button {}
.smile__column2 {}
.smile__bg {
	width: 413px;
	height: 326px;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(53deg, rgba(37, 180, 248, 0.00) 0%, rgba(37, 180, 248, 0.47) 64.42%, #25B4F8 126.21%);
}
.smile__image {}
.smile__img {
	position: absolute;
	top: 30px;
	left: -30px;
	border-radius: 10px;
}
.video {}
.container {}
.video__content {	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.video__label {
	width: 670px;
	text-align: center;
}
.video__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector2Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 5px;
}
.label {}
.video__text {
	margin-top: 20px;
	display: flex;
	width: 463px;
	text-align: center;

}
.text {}
.video__video {}
.video__vid{
	border-radius: 10px;
}
.video__playlist {
	margin-top: 30px;
}
.video__btn {}
.btn {}
.video__button {}
.button {}
.doctors {}
.doctors__content {
	background: #E6F6FE;
	margin-left: -80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 1440px;
	justify-content: center;
}
.doctors__label {
	margin-top: 60px;
	width: 470px;
	text-align: center;
}
.doctors__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector5Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 6.8px;
}
.label {}
.doctors__text {
	width: 479px;
	margin-top: 20px;
	margin-bottom: 80px;
	text-align: center;
}
.text {}
.doctors__review {
	width: 100%;
	display: flex;
	gap: 20px;
	justify-content: center;
}
.info {
	position: relative;
	border-radius: 10px;
	width: 21%;
	height: 343px;
	background-repeat: no-repeat;
}
.doctors__info {
	background-image: url('../img/doctor.png');

}
.doctors__info:nth-child(2) {
	background-image: url('../img/doctor2.png');
}
.doctors__info:nth-child(3) {
	background-image: url('../img/doctor3.png');
}
.doctors__info:nth-child(4) {
	background-image: url('../img/doctor4.png');
	margin-right: 0;
}

.doctors__box {
	border-radius: 10px;
	background: linear-gradient(96deg, rgba(37, 180, 248, 0.30) 0%, rgba(37, 180, 248, 0.00) 100%);
	backdrop-filter: blur(100px);
	width: 273px;
	height: 90px;
	margin: 236px 17px 17px;
	padding: 12px 25px 20px 25px;
}
.doctors__name {

}
.name {
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
	// padding-top: 12px;
}
.doctors__prof {
}
.prof {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 155%;
	// padding-bottom: 20px;
}
.doctors__scroll {
	display: flex;
}
.doctors__prev {
}
.ar{
	width: 96px;
	height: 44px;
	background:  #FFF;
	margin-right: 10px;
	margin-top: 40px;
	margin-bottom: 60px;
}
.doctors__next {
	margin-right: 0px;
}
.doctors__arrow{

	margin: 11px 28px; 
}
.review {}
.review__content {
	margin-top: 100px;
	margin-left: -80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 1440px;
	justify-content: center;
}
.review__label1 {
	text-align: center;
}
.review__label1 span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector6Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 9.8px;
}
.label {}
.review__text1 {
	margin-top: 20px;
	width: 479px;
	text-align: center;
}
.text {}
.review__bg{

}
.review__articles {
	border-radius: 10px;
	margin-top: 86px;
	display: flex;
	width: 100%;
}
.review__article {
	background: #FFF;
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
	margin-right: 20px;
}
.review__article:last-child{
	margin-right: 0px;
}
.review__header {
	margin-left: 30px;
	margin-top: 25px; 
		display: flex;
		align-items: center;
}
.review__photo {

}
.review__info{
	margin-left: 10px;
}
.review__name {
	color: #011632;
	font-size: 24px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.48px;
}
.review__stars {
	width: 104px;
	height: 20px;
	background-image: url('../img/icons/stars.png');
	top: 0;
	left: 0;
}
.review__text{
	margin: 19px 30px 27px;
	color: #3C4959;
	font-size: 16px;
	line-height: 155%;
}
.review__scroll {
	margin-top: 50px;
	margin-bottom: 100px;
}
.review__prev {
}
.ar1 {
	width: 96px;
	height: 44px;
	margin-right: 10px;
}
.review__arrow {
	padding: 11px 28px;
	background: #011632;

}
.review__next {
	margin-right: 0px;
}


.news {}
.news__content {}
.news__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.news__title {}
.news__label1 {
	width: 370px;
}
.news__label1 span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector7Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 8px;
}
.news__text1 {
	margin-top: 20px;
	width: 455px;
	margin-bottom: 0px;
}
.btn {}
.button {}
.news__articles {
	margin-top: 71px;
}
.news__row {
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 20px;
}
.news__column {
	flex:1 1 calc(1220px/4);
	border-radius: 10px;
	background: #E6F6FE;

}
.news__wrapper{
	margin: 20px auto 10px;
	width: 265px;

	// margin: 20px 20px 10px 20px;
}

.news__img {
	// margin-top: 20px;
	margin-bottom: 22px;
}
.news__btn {
	padding: 5px 13px;
	border-radius: 5px;
	background: #011632;
}
.news__button{
	color:#FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 155%
}
.news__label {
	color: #011632;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
	margin-top: 14px;
	margin-bottom: 10px;
}
.news__text {
	color: #3C4959;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.news___author {
	text-align: right;
	color: #011632;
	font-size: 16px;
	line-height: 155%;
}
.news__more {
	text-align: center;
}
.faq {
	margin-top: 100px;
	margin-bottom: 126px;
	display: flex;
	justify-content:center;
}
.faq__wrapper {
	width: 630px;

}
.faq__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.faq__label {
text-align: center;
}
.faq__label span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vector8Home.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 8px;
}
.label {

}
.faq__text {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 66px;
	font-size: 16px;
	width: 455px;
}
.text {}
.faq__questions {}
.faq__ques {}

.website {
	width: 100%;
	display: flex;
	justify-content: center;
}
.website__content {
	border-radius: 10px;
	width: 1064px;
	justify-content: center;	
	background-color: #011632;
	margin-bottom: 105px;
}
.website__row {
	padding: 50px 55px 50px 45px;
	display: flex;
}
.website__column {
	margin-right: 77px;
}
.website__label {
	text-align: left;	
	color: #ffffff;
}
.website__text {
	width: 504px;
	text-align: left;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 30px;
}
.website__btn {}
.website__button {}
.website__column2 {}
.website__img {
	width: 305px;
	height: 292px;
	background-image: url('../img/img.png');
}





.footer{
	margin-bottom: 35px;
}
.footer__content {
}
.footer__info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 2px #011632 solid;
}
.footer__logo {}
.footer__items {
	color: #3C4959;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	margin-right: 40px;
}
.footer__items:last-child{
	margin-right: 0px;
}
.footer__links {
	padding-top: 30px; 
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.footer_text {}
.footer__icons {
	margin-right: 20px;
}
.footer__icons:last-child{
	margin-right: 0px;
}
.case{
	width: 1440px;
	flex-shrink: 0;
}
.main.services{
	background: linear-gradient(180deg, #E6F6FE 0.58%, rgba(235, 248, 254, 0.00) 98.6%);
	padding: 0.1px 80px 0;
	width: 100%;
}
.header__content.services{

	border-radius: 10px;
	background: #FFF;
}
.services{
.main__content.services{
}
}
.main__services {
	width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: center;
}
.main__title.services {
	margin-top: 79px;
}
.main__title.services span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorService1.svg') center center/ cover no-repeat;
	width: 100%;
	top: 87%;
	left: 0;
	right: 0;
	height: 7px;
}
.main__text.services {
	padding-right: 0;
	text-align: center;
	max-width: 526px;
}
.main__wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text {}
.services {}

.offers__row.services{
	width: 100%;
	height: auto;
	gap: 50px 60px;
	background-color: initial;
}
.smile.dark {
	width: 1440px;
	background: #011632;
}
.container.service{
}
.smile__content {}
.dark {

}
.smile__row.service{
	padding: 50px 100px 50px;
}
.smile__column.service {
	padding-top: 34px;
	margin-right: 0;
}
.smile__label.service {
	color: #fff;
	width: 571px;
	margin-right: 79px;
}
.smile__label.service span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vectorService.svg') center center/ cover no-repeat;
	width: 100%;
	top: 90%;
	left: 0;
	right: 0;
	height: 7.3px;
}
.label {}
.smile__text.service {
	color: #fff;
	margin-right: 0;
}
.text {}
.offers__more {}
.btn {}
.smile__learn.service {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
}
.offers__arrow {}
.smile__form {
	border-radius: 10px;
	background-color: #fff;
	width: 414px;

}
.smile__case{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.smile__title{
	color: #011632;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
	text-transform: capitalize;
	padding-top: 34px;
	padding-bottom: 39px;
}
.form__phone.service{
	margin-bottom: 20px;
}
.form__input.service::placeholder{
	background-image: none;
	padding-left: 0;
}
.smile__input {}


.smile__submit {
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	text-align: center;
	padding: 10px 50px;
}
.form__submit {}
.review__scroll.blogs{
	margin-bottom: 0;
}
.doctors__content.service {
  margin-left: 0;
}
.doctors__review.service {
}
.info.service  {
  margin-right: 0;
  width: 21%;
  background-repeat: no-repeat;
}

.main__services.blogs{
	margin-bottom: 50px;
}
.main__title.blogs{
}
.main__title.blogs span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorBlogs.svg') center center/ cover no-repeat;
	width: 100%;
	top: 87%;
	left: 0;
	right: 0;
	height: 5px;
}
.form__input.blogs::placeholder{
	padding-left: 30px;
	color: #CFCFCF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/search.svg') 0px 0/20px 20px no-repeat;
}
.news__content.blogs{
	padding: 0 80px 0;
}
.news__header{
	margin-bottom: 57px; 
}
.news__row.blogs{
	margin-bottom: 0px;
}
.news.blogs{
	margin-top: 100px;
}
.news__label1.blogs span:before{
	z-index: 0;
	content: "";
	position: absolute;
	background: url('../img/icons/vectorBlogs1.svg') center center/ cover no-repeat;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
}
.news__btn.blogs {
	padding: 7px 13px;
}
.news__articles.main.blogs{
	margin-top: 0px;
	width: 1280px;
}
.news__more.blogs{
	margin-top: 40px;
}
.footer__content.service {
	padding: 0 80px 0;
}
.main__title.about{
}
.main__title.about span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorAbout.svg') center center/ cover no-repeat;
	width: 100%;
	top: 93%;
	left: 0;
	right: 0;
	height: 5px;
}
.blogs__row {
	display: flex;
	justify-content: center;
}
.blogs__column:nth-child(1) {
	margin-left: 108px;
	width: 649px;
	margin-right: 70px;
}
.blogs__label{
	margin-bottom: 20px;
}
.blogs__title {
	margin-bottom: 32px;
}
.title {
	color: #011632;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
}
.blogs__text{
	margin-bottom: 32px;
}
.blogs__text:nth-shild(2) {
	margin-bottom: 0px;
}
.text {}
.blogs__column.photo {
	margin-top: 10px;
	background-image: url('../img/aboutBoy.png');
	width: 453px;
	height: 603px;
}
.meet {}
.meet__content {
	margin-top: 100px;
}
.meet__info {

}
.meet__text.blogs{
	text-align: center;
	margin: 0 auto;
	width: 479px;
	margin-top: 20px;
}
.meet__label {
	margin: 0 auto;
	width: 419px;
}
.label {}
.text {}
.meet__doctors {
	margin-top: 80px;
	padding-right: 188px;
	padding-left: 188px;
}
.meet__row {
	display: flex;
	margin-bottom: 100px;
}
.meet__img{
	width: 305px;
	height: 350px;
	flex-shrink: 0;
}
.meet__img.brent{
	background: url('../img/doctorAbout1.png') no-repeat;
}
.meet__img.vashi{
	background: url('../img/doctorAbout2.png') no-repeat;
}
.meet__img.james{
	background: url('../img/doctorAbout3.png') no-repeat;
}
.meet__column {
	margin-left: 30px;
}
.meet__name {
	color: #011632;
	font-weight: 600;
}
.meet__about.text{
	margin: 24px 0 35px;
}
.name {
}
.speciality {
	padding-left: 15px;
	font-size: 16px;
	font-weight: 400;
	line-height: 155%; 
	letter-spacing: 0.24px;
}

.meet__btn {}
.btn {}
.meet__button {}
.button {}
.tech {}
.tech__content {
	margin: 0 auto;
	width: 1280px;
}
.tech__label {
	text-align: center;
	margin-bottom: 20px;
}
.tech__label span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorAbout2.svg') center center/ cover no-repeat;
	width: 100%;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
}
.label {}
.tech__text {
	// margin-top: 20px;
	// margin-bottom: 70px;
	text-align: center;
	margin: auto;
	width: 592px;
}
.text {}
.tech__row {
	margin-top: 70px;
	display: flex;
}
.tech__img {
	background: url('../img/aboutTech.png') no-repeat;
	width: 522px;
	height: 393px;
}
.tech__column {
	max-width: 728px;
	margin-left: 20px;
}
.tech__title {
	margin-bottom: 20px;
}
.title {}
.tech__about.text{
	margin-bottom: 22px;
}
.offers.about{
	margin-top: 100px;
	margin-bottom: -16px;
}
.offers__content.about{
	width: 1280px;
	margin: 0 auto;
}
.offers__row.about{
	background: #011632;
}
.main__title.contacts span:before{
	content: "";
	position: absolute;
	background: url('../img/icons/vectorContacts.svg') center center/ cover no-repeat;
	width: 100%;
	top: 93%;
	left: 0;
	right: 0;
	height: 5px;
}
.main__services.contact{
	margin-bottom: 40px;
}
.contacts__content {
	margin: 0 76px;
}
.contacts__row {
	display: flex;
}
.contacts__column {
	max-width: 503px;
}
.map {}
.contacts__img {
	position: relative;
	width: 503px;
	height: 325px;
	background: url('../img/contactsMap.png') center/cover no-repeat;
	margin-bottom: 20px;
}
.contacts__address.box{
	position: absolute;
	width: calc(100% - 40px);
	bottom: 0;
	margin: 0px 20px 20px 20px;
}
.contacts__wrap{
}
.contacts__wrap.address{
}
.box{
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.08);
	padding: 20px 0px 20px 20px;
	margin-bottom: 20px;
}
.contacts__chat.box{
	margin-bottom: 0px;
}
.contacts__address {
}
		
.contacts__time {
}
.contacts__icon {
	margin-right: 15px;
	background-color: #1376F8;
	border-radius: 50%;
}
.contacts__icn{
	padding: 13px;
}
.contacts__box{
	display: flex;
	align-items: center;
}

.contacts h6{
	color:  #011632;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.contacts p{
	color: #3C4959;
	font-size: 16px;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.24px;
}
.time {}
.contacts__email {}
.email {}
.contacts__phone {}
.phone {}
.contacts__chat {}
.chat {}

.contacts__column.form {
	border-radius: 10px;
	border: 1px solid #25B4F8;
	margin-left: 20px;
	max-width: 589px;
	padding: 41px 46px 32px;
}

.form {

}
.contacts__form {}
.contacts__form span{
	color: #3C4959;
	display: block;
	font-size: 18px;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.27px;
	margin-bottom: 10px;
}
.contacts__name {
	width: 498px;
	margin-bottom: 32px;
}
.contacts__row {
}
.contacts__input::placeholder{
	padding-left: 0;
	font-size: 14px;
	color: #667085;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.28px;
	background-image: none; 
}
.contacts__input{
	margin-bottom: 12px;
	padding: 14px 16px;
	border-radius: 10px;
	border: 1px solid #CECECE;
	background:  #FFF;
	width: 232px;
}
.contacts__input.first{
	margin-right: 32px;
}
// .contacts__row input:first-child{
// 	margin-right: 32px;
// }

.form__input {}
.contact {}
.contacts__select {

}
.contacts__select span{
	color: #011632;
font-size: 16px;
font-weight: 400;
line-height: 155%;
letter-spacing: 0.24px;
}
.contacts__select{
}
select{
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	border: none;
	padding: 12px 12px 12px 16px;
}
.wadwa{
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid  #D0D5DD;
	background:  #FFF;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	margin-bottom: 12px;
}
option {
}
.contacts__input.date{
	color: #667085;
	font-size: 14px;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.contacts__input.message {
	width: 100%;
	height:	185px;
	margin: 0;
	padding: 10px 14px;
	resize: none;
}
// input[type="text"] {
// 	color: #CFCFCF;

// /* B2/Regular */
// font-family: General Sans;
// font-size: 16px;
// font-style: normal;
// font-weight: 400;
// line-height: 155%; /* 24.8px */
// letter-spacing: 0.24px;
// }
textarea{
	color: #667085;
	font-size: 14px;
	font-weight: 400;
	line-height: 155%;
	letter-spacing: 0.28px;
}
input{
color: #667085;
font-size: 16px;
font-weight: 400;
line-height: 155%;
letter-spacing: 0.28px;
}
.contacts input{
color: #667085;
font-size: 14px;
font-weight: 400;
line-height: 155%;
letter-spacing: 0.28px;
}
.contacts__btn.btn {
	display: flex;
	margin: 0 auto;
	padding: 0;
}
.btn {}
.contacts__button.button {
	margin: 0;
	padding: 15px 30px;
	color:  #FFF;
	font-size: 16px;
font-weight: 600;
line-height: 155%;
letter-spacing: 0.24px;
}
.button {}

.case.login{
	// padding-bottom: 10px;
}
.main.login{
	background: #FFF;
}
.header__content.login{
	background: #E6F6FE;
}
.login__case {
	margin-top: 40px;
}
.login__row {
	display: flex;
}
.login__img {
	position: relative;
	background: url('../img/loginBg.png') center/contain no-repeat;
	border-radius: 10px;
	width: 710px;
	height: 860px;
	margin-right: 128px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.login__quote {
	margin: 0px 87px 73px;
}
.login__quote q{
	color: #FFF;
	font-size: 24px;
	line-height: 120%; 
	text-transform: capitalize;
}
.login__quote p:nth-child(1){
	margin-bottom: 5px;
}
.login__quote p:nth-child(2){
	margin-bottom: 20px;
}
.login__quote cite{
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	text-transform: capitalize;
	font-style: normal;
}
.login__quote span{
	color: #FFF;
	font-size: 18px;
	line-height: 155%;
	letter-spacing: 0.27px;
}
.login__form{
	margin: auto 0;
	max-width: 414px;
}
.login__label {

}
.label {}
.login__text {
	color: #3C4959;
	font-size: 16px;
	line-height: 155%;
	letter-spacing: 0.24px;
	margin: 8px 0px 37px;
}
.login__google {
	border-radius: 10px;
	border: 1px solid  #011632;
	background:	#FFF;
	padding: 19px 128px 19px 156px;
}
.login__container{
	margin-bottom: 35px;
}
.login__google span:before{
	content: "";
	position: absolute;
	top: -5px;
	left: -35px;
	background: url('../img/icons/loginGoogle.png') center / cover no-repeat;
	width: 28px;
	height: 28px;
}
.login__google span{
	position: relative;
	color: #011632;
	text-align: center;
	font-weight: 500;
	line-height: 155%;
	letter-spacing: 0.28px;
}
.login__or.text {
	text-align: center;
	margin-bottom: 25px;
	position: relative;
}
.login__or:before{
	background: #011632;
	content: "";
	top: 50%;
	left: 0;
	position: absolute;
	width: 188px;
	height: 0.5px;
}
.login__or:after{
	background: #011632;
	content: "";
	top: 50%;
	right: 4px;
	position: absolute;
	width: 184px;
	height: 0.5px;
}
.form__input {
	padding: 0 0 0 20px;
	// padding: 21px 260px 17px 20px;
}
.form__input.login{
	width: 100%;
	margin-bottom: 24px;
}
.form__input.mail::placeholder{
	padding-left: 30px;
	color: #AFAFAF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/loginIcn.svg') 0px 0/ 20px 20px no-repeat;
}
.form__input.pass::placeholder{
	padding-left: 30px;
	color: #AFAFAF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/loginIcn2.svg') 0px 0/ 20px 20px no-repeat;
}
.psw {
	text-decoration: underline;
	color: #011632;
}
.login__me{
	display: flex;
	justify-content: space-between;

}
.login__btn {
	width: 100%;
	margin: 20px 0;
}
.btn {}
.login__create{
	text-align: center;
}
.login__create span{
	color: #011632;
	font-weight: 500;
}
.login__button {}
.button {}
.login__img.sign{
	height: 882px;
	background: url('../img/signImg.png') center/contain no-repeat;
}
.form__input.username::placeholder{
	padding-left: 30px;
	color: #AFAFAF;
	font-size: 16px;
	line-height: 155%; 
	background: url('../img/icons/signIcn.svg') 0px 0/ 20px 20px no-repeat;
}
.login__me.sign span{
	padding-left: 10px;
}
.login__create.sign span{
	text-decoration: underline;
	font-weight: normal;
}